body{   
    background-image: url(https://github.com/Magnesar/Magnesar.github.io/blob/main/images/705836.jpg);    
}
h1{
    font-family: 'Courier New', 'Courier New', Courier, monospace;
}
main{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    font-family: 'Brush Script MT', cursive;
}

